<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bbs2k17! Compose New Message</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <form class="message-form" id="new-message" action="/compose" method="post">
      <input type="textarea" name="messageBody" value="" placeholder="What are we talking about?" autofocus><br>
      <button type="submit" form="new-message" name="button">Post</button>
    </form>
  </body>
</html>
