<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BBS2k17!</title>
    <link rel="stylesheet" href="../resources/css/styles.css">
  </head>
  <body>
    <header>
      <div class="header logo">bbs2k17!</div>
      <div class="header"><a href="http://localhost:3100/compose">create a new message</a></div>
      <div class="header">logged in as {{user.name}}</div>
      {{#loggedIn}}<div class="header"><a href="http://localhost:3100/logout">log out</a></div>{{/loggedIn}}
    </header>
    <div class="messages-container">
      {{#messages}}
        <div class="msg-container">
          <a href="/message/{{id}}">
            <p class="msg-body">{{message}}</p>
            <p class="msg-attr auth">Written by: {{user.displayname}}</p>
            <p class="msg-attr date">{{createdAt}}</p>
            <p class="msg-attr likes">{{likes.length}} likes so far</p>
            <p>
                <form class="" id="edit" action="/" method="post">
                  {{#author}}
                  <button type="submit" form="edit" formaction="/delete/{{id}}" name="button">Delete</button>
                  {{/author}}
                  <button type="submit" form="edit" formaction="/like/{{id}}" name="button">Like</button>
                </form>
              </p>
          </a>
        </div>
      {{/messages}}
    </div>
  </body>
</html>
