<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BBS2k17!</title>
    <link rel="stylesheet" href="../resources/css/styles.css">
  </head>
  <body>
    <header>
      <div class="logo">bbs2k17!</div>
      <div class="header"><a href="http://localhost:3100/compose">create a new message</a></div>
      <div class="header">logged in as {{user.displayname}}</div>
      {{#loggedIn}}<div class="header"><a href="http://localhost:3100/logout">log out</a></div>{{/loggedIn}}
    </header>
    <div class="messages-container">
      {{#messages}}
        <div class="msg-container" data-msg-id="/message/{{id}}">
          <a href="/message/{{id}}">
            <p class="msg-body">{{message}}</p>
            <p class="msg-attr auth">Written by: {{user.displayname}}</p>
            <p class="msg-attr date">{{createdAt}}</p>
            <p class="msg-attr likes">{{comments.length}} comments, {{likes.length}} likes so far</p>
            <p>
                <form class="" id="edit" action="/">
                  {{#isAuthor}}
                  <button type="submit" form="edit" formaction="/message/{{id}}/delete/" formmethod="delete">Delete</button>
                  {{/isAuthor}}
                  {{#isLiked}}
                    <button type="submit" form="edit" formaction="/like/{{id}}" formmethod="post" name="button" disabled>Like</button>
                  {{/isLiked}}
                  {{^isLiked}}
                    <button type="submit" form="edit" formaction="/like/{{id}}" formmethod="post" name="button">Like</button>
                  {{/isLiked}}

                </form>
              </p>
          </a>
        </div>
      {{/messages}}
    </div>
    <!-- <script type="text/javascript">
      const msgBoxes = document.querySelectorAll(".msg-container");
      msgBoxes.forEach(function(box) {
        box.addEventListener('click', function(e) {
          e.preventDefault();
          console.log('click');
          let name = window.name;
          let url = "http://localhost:3100" + box.dataset.msgId;
          window.open(url, name);
        })
      })
    </script> -->
  </body>
</html>
