<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>bbs2k17! Login</title>
  <link rel="stylesheet" href="../resources/css/styles.css">
</head>
<body>
  <h2>Log in to continue with <span class="logo">bbs2k17!</span></h2>
  <form class="form" id="loginform" action="/login" method="post">
    <label for="username">username:</label>
    <input type="text" id="username" name="username" value="" placeholder="username" autofocus><br>
    <label for="password">password:</label>
    <input type="password" id="password" name="password" value=""><br>
    <button type="submit" form="loginform" name="button" value="login">Log In</button>
  </form>

  <div class="error-message">
    {{#error}}
      {{msg}}
      {{^loggedIn}}
        <button form="loginform" type="submit" name="button" value="signup">Sign Up!</button>
      {{/loggedIn}}
    {{/error}}
  </div>
</body>
</html>
