<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BBS2k17!</title>
    <link rel="stylesheet" href="../resources/css/styles.css">
  </head>
  <body>
    <header>
      <div class="logo"><a href="http://localhost:3100/">bbs2k17!</a></div>
      <div class="header"><a href="http://localhost:3100/compose">create a new message</a></div>
      <div class="header">logged in as {{user.displayname}}</div>
      {{#loggedIn}}<div class="header"><a href="http://localhost:3100/logout">log out</a></div>{{/loggedIn}}
    </header>
    <div class="messages-container">
      <div class="msg-container">

          <p class="msg-body">{{message.message}}</p>
          <p class="msg-attr auth">Written by: {{message.user}}</p>
          <p class="msg-attr date">{{message.createdAt}}</p>
          <p class="msg-attr likes">{{likes.length}} likes so far:<br>
            {{#likes}}
              <span class="msg-attr like-name">{{user.displayname}}</span><br>
            {{/likes}}
          </p>
      </div>
    </div>
    <div class="form-container">
      <form class="comment-form" id="new-comment" action="/message/{{message.id}}/comment" method="post">
        <label for="body">Add a comment:</label><br>
        <textarea form="new-comment" id="body" name="commentBody" placeholder="Say something" cols="60" maxlength="140" rows="3" autofocus></textarea><br>
        <button type="submit" form="new-comment" name="button">Post</button>
      </form>
      <div class="error-message">
        {{#error}}
          {{msg}}
        {{/error}}
      </div>
    </div>
    <div class="comments-container">
      {{#comments}}
      <div class="comment-container">
          <p class="comment-body">{{comment.comment}}</p>
          <p class="comment-attr auth">Written by: {{comment.user}}</p>
          <p class="comment-attr date">{{comment.createdAt}}</p>
      </div>
      {{/comments}}
    </div>
  </body>
</html>
