<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>bbs2k17! Signup</title>
</head>
<body>
  <h2>Sign Up with bbs2k17!</h2>
  <form class="form" id="signupform" action="/signup" method="post">
    <label for="displayname">display name:</label>
    <input type="text" id="displayname" name="displayname" value="" placeholder="name others will see" autofocus><br>
    <label for="username">username:</label>
    <input type="text" id="username" name="username" value="" placeholder="username"><br>
    <label for="password">password:</label>
    <input type="password" id="password" name="password" value=""><br>
    <button type="submit" form="signupform" name="button" value="signup">Sign Up</button>
  </form>

  <div class="error-message">
    {{#error}}
      {{msg}}
    {{/error}}
  </div>
</body>
</html>
